# dev files
webpack.config.js
.babelrc

# Dependency directories
node_modules/
jspm_packages/

# dotenv environment variables file
.env
.env.test

# Output of 'npm pack'
*.tgz

# Optional npm cache directory
.npm

# Ignore the systemd service file
*.service

# next js directory
.next/

# ignore public folder, so assets stay of github
public