# Dependency directories
node_modules/

# dotenv environment variables file
.env

# Optional npm cache directory
.npm

# next js dev files
.next/
next-env.d.ts

# ignore public folder, so assets stay of github
public